.newsletter-container {
    background: url("./Assets/Newsletter-Background.png");
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .newsletter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 48px 155px 56px 155px;
      gap: 55px;

      @media (max-width: 1080px) {
        flex-wrap: wrap;
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
        margin: 24px 16px 56px 16px;
        gap: 16px;
      }

      .newsletter-text {
        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;

          /* White */
          color: #ffffff40;

          margin: 0;
        }
        h1 {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 36px;
          /* or 112% */
          min-width: 400px;

          /* White */
          color: #ffffff;

          margin: 0;
          padding-top: 8px;
        }
      }
      .newsletter-email {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        form {
          display: flex;
          justify-content: space-between;
          gap: 8px;
          #email {
            padding: 12px 8px 12px 12px;
            border: 0.5px solid #ffffff;
            border-radius: 6px;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 100px;
          }
          button {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;

            /* Blacky */
            color: #0a0a0a;

            padding: 8px 12px 8px 16px;
            /* White */
            background: #ffffff;
            border-radius: 4px;

            span {
              display: inline-block;
              font-size: 1.2rem;
              margin-left: 13.79px;

              /* Blacky */
              background: #0a0a0a;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
        .label-checkbox {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;

          /* White */
          color: #ffffff;
          padding-top: 5px;
          align-items: center;
          #checkbox {
            // background: transparent;
            // outline: 2px solid black;
            // border: 1px solid black;
          }

          a {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height */

            /* White */
            color: #ffffff;
          }
        }
      }
    }
  }