footer {
    background-color: #0a0a0a;
    padding: 39px 0;
    font-family: Arial, sans-serif;

    .container {
      margin: 0px 0px 60px 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 568px) {
        // flex-direction: column;
      }

      .box {
        width: 100%;
        max-width: 250px;
        margin-bottom: 40px;

        #GetSupColor {
          background: linear-gradient(
            90deg,
            #e1a4e6 0%,
            #249dfd 50.78%,
            #a7ef50 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        .social-icons {
          display: flex;
          justify-content: space-between;
          gap: 15.61px;
          max-width: 88px;
        }

        .payment-methods {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
        }
      }

      #OurStory {
        @media (max-width: 568px) {
          // display: none;
        }
      }
      #Support {
        @media (max-width: 568px) {
          // display: none;
        }
      }

      h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        /* identical to box height */

        /* White */
        color: #ffffff;

        margin: 0;
        padding-bottom: 23px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 18px;

        li {
          margin-bottom: 4px;

          a {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            text-align: center;

            /* Gray */
            color: #e0e0e0;
            text-decoration: none;

            // &:hover {
            //   color: #333;
            // }
          }
        }
      }
    }
  }